/.vscode
/armstrongnum.java
/countthe_num_of_digits.java
/digits_reverse.java
/even_no.java
/palindrome.java
/prime_by_for_num.java
/prime_by_whole_num.java
/Q1_for_loop.java
/series_of_nums.java
/sum_digits_of_num.java
/sum_of_even_num.java
/sum_of_even_num_and_multiple_of_odd_num.java
/sum_of_num.java